* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    padding: 50px;

    background-color: pink;
}

main {
    flex: 1;

    background-color: greenyellow;
}

footer {
    padding: 30px;

    background-color: yellow;
}